@model CoursesShowCourseInfoViewModel
<h2>Show Info</h2>
<div class="panel">
    <div class="panel-heading">
        @Model.Title
    </div>
    <div class="panel-body">
        @Model.TeacherName
    </div>
</div>
