@model CoursesAddUpdateCourseViewModel
<h2>Update</h2>
<div asp-validation-summary="ModelOnly"></div>
<form asp-controller="Courses"
      asp-action="Update"
      method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <label asp-for="TeacherId"></label>
    <select asp-for="TeacherId" class="form-control"
            asp-items="@Model.Teachers"></select>
    <input type="hidden" asp-for="@Model.CourseId" value="@Model.CourseId" />
    <button type="submit" class="btn btn-info">Save</button>
</form>

